<div class="navbar-deep navbar-deep-fixed">
  <!-- Logo -->
  <% link_to "/", class: "navbar-deepdeep-logo" do %>
    <%= image_tag "thedeepdeep_96.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-deepdeep-right hidden-xs hidden-sm">

    <!-- Text link -->
    <a href="https://www.lewagon.com" class="navbar-item navbar-link">About</a>

    <!-- Text link -->
    <a href="" class="navbar-item navbar-link">Media</a>

    <a href="" class="navbar-item navbar-link">Press</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-deep-dropdown-menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Press</a></li>
      </ul>
    </div>
  </div>
</div>
