<div class="wrapper-parallax">
  <header class="hdr">
    <div class="banner">
    	<video autoplay="" loop="" muted="">
        	<source src="video/mine_climb_loop_4096.mp4">
        	<p class="warning">Your browser does not support HTML5 video.</p>
		</video>
      <div class="container">
        <div class="row">
          <div>
            <%= image_tag "cervesia.png", width: "350px" %>
            <h3 id="tts">some 2D game</h3>
          </div>
        </div>
      </div>

    </header>
  </div>